@using Prototyping.Ipsum;
@using Prototyping.Placeholdit;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Transition</title>
    @Styles.Render("~/Content/Styles")
    <meta name="description" content="Style guide for my website's page transitions" />
</head>
<body style="background-color: #F2F2F2">
    <article id="pnlPages">
        <section id="page1" data-nv-page="true" class="expand-container" style="background-color: #2294e5">
            <div class="expand-contianer__content">
                <h1 class="header-main--onDark header-large">Page 1</h1>
                <br />
                <p class="text-primary--OnDark">
                    @Html.Ipsum().Words(50)
                </p>
                <br /><br /><br />
                <button id="Page1NextBtn" style="display: block; position: relative; left: 95%">
                    Next Page
                </button>
            </div>
        </section>
        <section id="page2" data-nv-page="true" class="expand-container" style="background-color: #e59022">
            <div class="expand-contianer__content">
                <h1 class="header-main--onDark header-large">Page 2</h1>
                <br />
                <p class="text-primary--OnDark">
                    @Html.Ipsum().Words(50)
                </p>
                <br /><br /><br />
                <button id="Page2Previous" style="display: block; position: relative">
                    Previous Page
                </button>
                <button id="Page2Next" style="display: block; position: relative; left: 95%">
                    Next Page
                </button>
            </div>
        </section>
        <section id="page3" data-nv-page="true" class="expand-container" style="background-color: #e52242">
            <div class="expand-contianer__content">
                <h1 class="header-main--onDark header-large">Page 3</h1>
                <br />
                <p class="text-primary--OnDark">
                    @Html.Ipsum().Words(50)
                </p>
                <br /><br /><br />
                <button id="Page3Previous" style="display: block; position: relative">
                    Previous Page
                </button>
            </div>
        </section>
    </article>

    @Scripts.Render("~/Content/libraries")
    @Scripts.Render("~/Content/scripts")

    <script>
        $(document).ready(function ($) {
            window.NavTransition = new NavigationTransition('page1');

            window.NavTransition.SelectPage('page1');
        });

        $('#Page1NextBtn').click(function () {
            window.NavTransition.TransitionToPage('page2');
        });

        $('#Page2Previous').click(function () {
            window.NavTransition.TransitionToPage('page1');
        });

        $('#Page2Next').click(function () {
            window.NavTransition.TransitionToPage('page3');
        });

        $('#Page3Previous').click(function () {
            window.NavTransition.TransitionToPage('page2');
        });
    </script>
</body>
</html>
