@model Nikolai.Models.ContactFormModel

<div id="contact" data-nv-page="true" data-nv-state="default" data-nv-page-state="scrollable"
         data-nv-theme="dark_light" class="expand-container">
    <div class="expand-contianer__content cf">
        <div data-nv-bgimage="true" class="contact">
            <section class="contact__container cf">
                <div id="contactSummary" class="contact__content contact__summary">
                    <h1 data-nv-animate
                        data-nv-animate-delay="0"
                        data-nv-animate-type="text"
                        class="contact__header header-main--onDark header-medium">
                        Contact Me
                    </h1>
                    <div class="contact__text">
                        <p data-nv-animate="noWrap"
                           data-nv-animate-delay="300"
                           data-nv-animate-type="block"
                           class="contact__summary-content text-secondary--OnDark">
                            I don’t bite and I’m always available to chat. Reach out anytime and I will get back as soon as I can.
                        </p>
                        <br />
                        <p data-nv-animate="noWrap"
                           data-nv-animate-delay="600"
                           data-nv-animate-type="block"
                           class="contact__summary-content text-secondary--OnDark">
                            If you prefer to contact me directly email me at
                            <a href="mailto:hello@nikolaivillarin.com" data-nv-ignore="true" target="_top" class="link--blue">hello@nikolaivillarin.com</a>
                        </p>
                        <br />
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="900"
                             data-nv-animate-type="block"
                             class="contact__socialIcons cf">
                            <a href="https://www.linkedin.com/in/nikolai-villarin-b13b61130/" data-nv-ignore="true" class="socialIcon socialIcon--linkedin" target="_blank" title="LinkedIn">&nbsp;</a>
                            <a href="https://github.com/nikolaivillarin" data-nv-ignore="true" class="socialIcon socialIcon--github" target="_blank" title="GitHub">&nbsp;</a>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Message", "Contact", FormMethod.Post, new { id = "frmContact", @class = "contact__content contact__form" }))
                {
                    <div class="contact__form-content">
                        <h1 data-nv-animate
                            data-nv-animate-delay="0"
                            data-nv-animate-type="text"
                            class="contact__header header-main--onDark header-medium">
                            Leave a Message
                        </h1>
                    </div>
                    <div class="contact__form-sentMsg">
                        <h1 class="contact__header header-main--onDark header-medium">
                            I Got Your Message. Thanks!
                        </h1>
                    </div>
                    <div class="contact__form-content contact__formFields cf">
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="300"
                             data-nv-animate-type="block"
                             class="contact__inputGroup">
                            @Html.LabelFor(x => x.Name, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Name, new { @class = "contact__textbox" })
                        </div>
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="600"
                             data-nv-animate-type="block"
                             class="contact__inputGroup">
                            @Html.LabelFor(x => x.Email, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Email, new { @class = "contact__textbox" })
                        </div>
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="900"
                             data-nv-animate-type="block"
                             class="contact__inputGroup">
                            @Html.LabelFor(x => x.Message, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Message, new { @class = "contact__textbox" })
                        </div>
                    </div>
                    <div id="sendBtnPlaceholder" class="contact__placeholder"></div>
                }
            </section>
        </div>

    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/contactPage")