@model Nikolai.Models.ContactFormModel

<section id="contact" data-nv-page="true" data-nv-state="default" data-nv-page-state="scrollable"
         data-nv-theme="dark_light" class="expand-container">
    <div class="expand-contianer__content cf">
        <div data-nv-bgimage="true" class="contact">
            <section class="contact__container cf">
                <div id="contactSummary" class="contact__content contact__summary">
                    <h1 class="contact__header header-main--onDark header-medium">Contact Me</h1>
                    <div class="contact__text">
                        <p class="contact__summary-content text-secondary--OnDark">
                            I am always open to “interesting” projects, or people who just want to say
                            hello. So, feel free to send me a message.
                        </p>
                        <br />
                        <p class="contact__summary-content text-secondary--OnDark">
                            If you prefer to contact me directly email me at
                            <a href="mailto:hello@nikolaivillarin.com" data-nv-ignore="true" target="_top" class="link--blue">hello@nikolaivillarin.com</a>
                        </p>
                        <br />
                        <div class="contact__socialIcons cf">
                            <a href="https://www.linkedin.com/in/nikolai-villarin-b13b61130/" data-nv-ignore="true" class="socialIcon socialIcon--linkedin" target="_blank" title="LinkedIn">&nbsp;</a>
                            <a href="https://github.com/nikol3x" data-nv-ignore="true" class="socialIcon socialIcon--github" target="_blank" title="GitHub">&nbsp;</a>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Message", "Contact", FormMethod.Post, new { id = "frmContact", @class = "contact__content contact__form" }))
                {
                    <div class="contact__form-content">
                        <h1 class="contact__header header-main--onDark header-medium">Leave a Message</h1>
                    </div>
                    <div class="contact__form-sentMsg">
                        <h1 class="contact__header header-main--onDark header-medium">
                            I Got Your Message. Thanks!
                        </h1>
                    </div>
                    <div class="contact__form-content contact__formFields cf">
                        <div class="contact__inputGroup">
                            @Html.LabelFor(x => x.Name, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Name, new { @class = "contact__textbox" })
                        </div>
                        <div class="contact__inputGroup">
                            @Html.LabelFor(x => x.Email, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Email, new { @class = "contact__textbox" })
                        </div>
                        <div class="contact__inputGroup">
                            @Html.LabelFor(x => x.Message, new { @class = "text-primary--OnDark contact__label" })
                            <br />
                            @Html.TextBoxFor(x => x.Message, new { @class = "contact__textbox" })
                        </div>
                    </div>
                    <div id="sendBtnPlaceholder" class="contact__placeholder"></div>
                }
            </section>
        </div>

    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/contactPage")