<div id="pnlAboutPageIndicator" class="about-PageIndicatorContainer">
    @* JavaScript Renders the contents *@
</div>

<div id="about" data-nv-page="true" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            @Html.Partial("_aboutProfile")
            @*@Html.Partial("_aboutChallenge")
            @Html.Partial("_aboutCoding")
            @Html.Partial("_aboutAccessibility")*@
            @Html.Partial("_aboutHobbies")
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")
